<!doctype html>
<html>
<head>
	<title>FotoCloud</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="public/javascripts/carousel.js"></script>
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="public/stylesheets/style.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top main-nav">
		<div class="container">
			<div class="navbar-header">
				<a href="/"><h5 id="logo">FotoCloud</h5></a>
			</div>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
			<div id="navbar" class="pull-left navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<li class="list-item"><a href="/">Home</a></li>
					<li class="list-item"><a href="#">Profile</a></li>
					<li class="list-item"><a href="#">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="background">
		<section id="main-body">
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<section id="welcome">
					<h1>Welcome to your FotoCloud.</h1>
					<p>Cuz we're so much better than Instagram. 'Nuff said.</p>
				</section>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<img onclick="scrolldown()" id="down-button" src="public/images/down-arrow.png" />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
			<div id="sub-body">
				<div class="container">
					<br />
					<p>Lorem ipsum dolor sit amet, cibo aliquam scaevola cu quo, no sit prompta admodum. Id consul atomorum est, magna antiopam democritum usu id, diam praesent cum ad. Gloriatur scripserit et usu, nonumy disputando an mea. Quo et esse iusto, et volumus commune duo.</p>

					<p>Vix dicunt consequat at, brute dicat principes no duo. Ne ceteros constituto mea. Sit agam eligendi an, duo in omnes salutandi disputando, ea vim mazim aliquando persequeris. In pro labore noster legimus, illum dissentiunt eam eu.</p>

					<p>At eum nonumes apeirian signiferumque, sed in soleat forensibus. Vim solum eripuit constituam ea. Elit euripidis ex vis, pri singulis theophrastus at, vide vidit minimum in pro. Deleniti iracundia vituperatoribus ius cu. Ullum principes mea et, nostro luptatum recteque ex qui.<p>

					<p>Ne quod elaboraret nec, accusam constituto vis ne. Cu eos commodo tincidunt, mei an tale noster. Dolore percipit invidunt no his. Et has diam suavitate. Et fabellas dissentiunt qui.</p>

					<p style="margin-bottom: 0%">Praesent consequuntur interpretaris et nec. Mundi expetenda interesset ut sit, et iriure probatus voluptatum per. Ad has pericula mediocrem, quo eu probo senserit, ne nam audire deleniti expetendis. Meis dicam neglegentur qui te.</p>
					
					<div class="container-box col-md-4">
						<p>Lorem ipsum dolor sit amet, cibo aliquam scaevola cu quo, no sit prompta admodum. Id consul atomorum est, magna antiopam democritum usu id, diam praesent cum ad. Gloriatur scripserit et usu, nonumy disputando an mea. Quo et esse iusto, et volumus commune duo.</p>

						<p>Vix dicunt consequat at, brute dicat principes no duo. Ne ceteros constituto mea. Sit agam eligendi an, duo in omnes salutandi disputando, ea vim mazim aliquando persequeris. In pro labore noster legimus, illum dissentiunt eam eu.</p>
					<!--	<div class="group"><p>temp</p></div>
						<div class="members"><p>temp</p></div>
						<div class="pics"><p>temp</p></div>
						<div class="take-pics"><p>temp</p></div>-->
					</div>
					<div class="container-box col-md-4">
						<p>At eum nonumes apeirian signiferumque, sed in soleat forensibus. Vim solum eripuit constituam ea. Elit euripidis ex vis, pri singulis theophrastus at, vide vidit minimum in pro. Deleniti iracundia vituperatoribus ius cu. Ullum principes mea et, nostro luptatum recteque ex qui.<p>

						<p>Ne quod elaboraret nec, accusam constituto vis ne. Cu eos commodo tincidunt, mei an tale noster. Dolore percipit invidunt no his. Et has diam suavitate. Et fabellas dissentiunt qui.</p>
					</div>
					<div class="container-box col-md-4">
						<p style="margin-bottom: 0%">Praesent consequuntur interpretaris et nec. Mundi expetenda interesset ut sit, et iriure probatus voluptatum per. Ad has pericula mediocrem, quo eu probo senserit, ne nam audire deleniti expetendis. Meis dicam neglegentur qui te.</p>
					</div>
				</div>
				<br />	
			</div>
		</section>
		<footer>
			<div class="container">
				<p id="copyright">&copy; 2015 Kevin Guh and John Ling</p>
			</div>
		</footer>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="public/javascripts/scrolldown.js"></script>
	</div>
</body>
</html>
