<!doctype html>
<html>
<head>
	<title>FotoCloud</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="public/javascripts/load.js"></script>
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="public/stylesheets/style.css" />
	<script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
</head>
<body id="background">
	<div class="container-fluid">
	<section id="main-body" class="row">
		<div class="col-md-12">
			<div id="offset-top">
				<section id="welcome" class="row">
					<div class="col-md-12">
						<h1>Welcome to your FotoCloud.</h1>
						<p>Cuz we're just so much better than Instagram. 'Nuff said.</p>
						<br />
						<div class="row">
							<button class="btn btn-lg my-btn colorme" type="button" id="login" onclick="login()">Log In</button>
							<button class="btn btn-lg my-btn colorme" type="button" id="register" onclick="register()">Register</button>
						</div>
					</div>
				</section>
				<section id="signin" class="row">
					<form name="signinform" method="post" action="/signin">
						<fieldset>
							<span class="row">
								<input class="my-field-half colorme required-login" type="text" name="email" placeholder="Username" />
								<input class="my-field-half colorme required-login" type="password" name="password" placeholder="Password" />
							</span>
							<span class="row">
								<button type="submit" class="btn btn-lg my-btn colorme" onsubmit="validateLogin()">Log In</button>
								<button class="btn btn-lg my-btn colorme" type="button" onclick="cancel()">Cancel</button>
							</span>
						</fieldset>
					</form>
				</section>
				<section id="signup" class="row">
					<h1 class="colorme">Signup is quick, easy, and free.</h1>
					<p class="colorme">If you choose to deactivate your account at any point, we promise to fully delete all your data -- we aren't Ashley Madison.</p>
					<form name="registrationform" method="post" action="/register" onsubmit="return validateRegistration();">
						<fieldset>
							<span class="row">
								<input class="my-field-half colorme required-registration" type="text" name="firstname" placeholder="First Name(s)" />
								<input class="my-field-half colorme required-registration" type="text" name="lastname" placeholder="Last Name(s)" />
							</span>
							<div class="row error">
								<label id="firstname-error" class="my-field-half error colorme">This field is required.</label>
								<label id="lastname-error" class="my-field-half error colorme">This field is required.</label>
							</div>
							<span class="row">
								<input class="my-field colorme colorme required-registration" type="text" name="email" placeholder="Email" />
							</span>
							<div class="row error">
								<label id="email-error" class="my-field-half colorme error">This field is required.</label>
							</div>
							<span class="row">
								<input class="my-field colorme" type="text" name="phone" placeholder="Primary Telephone Number" />
							</span>
							<span class="row">
								<input class="my-field colorme required-registration" type="text" name="username" placeholder="Username" />
							</span>
							<div class="row error">
								<label id="username-error" class="my-field-half colorme error">This field is required.</label>
							</div>
							<span class="row">
								<input class="my-field-half colorme required-registration" type="password" name="password" placeholder="Password" />
								<input class="my-field-half colorme required-registration" type="password" name="password-confirm" placeholder="Confirm Password" />
							</span>
							<div class="row error">
								<label id="password-error" class="my-field-half colorme error">This field is required.</label>
								<label id="password-confirm-error" class="my-field-half colorme error">Passwords don't match!</label>
							</div>
							<span class="row">
								<label class="colorme">Would you like to receive periodic updates from us?</label><br/>
								<input type="radio" name="mailing-list" value="Yes" />Yes
								<input type="radio" name="mailing-list" value="No" />No<br />
							</span>
							<span class="row">
								<input class="required-registration" name="agree" type="checkbox" /><label class="colorme">I have read and agree to the Terms and Conditions.</label>
							</span>
							<div class="row error">
								<label id="agree-error" class="my-field-half colorme error">This field is required.</label>
							</div>
							<span class="row">
								<button class="btn btn-lg my-btn colorme" type="submit">Sign Me Up!</button>
								<button class="btn btn-lg my-btn colorme" type="button" onclick="cancel()">Maybe Another Time</button>
							</span>
						</fieldset>
					</form>
				</section>
			</div>
		</div>
	</section>
	</div>
	<footer class="container-fluid">
		<p id="copyright">&copy; 2015 Kevin Guh, John Ling, and Young Chen</p>
	</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="public/javascripts/scrolldown.js"></script>
</body>
</html>
